@layer base {
  :root {
    --grnclr: rgb(0, 214, 124);
    --bgclr: #ffffff;
  }
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding-left: 0;
  }
  body {
    background-color: var(--bgclr);
    color: black;
    font-family: "Dosis", sans-serif;
  }
}
@layer nav {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
  }
  nav ul li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  nav ul {
    display: flex;
    gap: 20px;
  }
  .button {
    flex-shrink: 0;
  }
  .btn {
    border: 1px solid;
    flex-direction: column;
    padding-inline: 12px;
    padding-block: 7px;
  }
  .button :first-child {
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 5px;
  }
  .button :last-child {
    border-color: rgb(35, 160, 35);
    border-radius: 20px;
    background-color: var(--grnclr);
    color: var(--bgclr);
  }
}
@layer main {
  .img {
    max-width: 100%;
  }
  .background-container {
    /* width: 100%; */
    min-height: 100vh; /* Full viewport height */
    background-image: url('sunrise-3579931_1280.jpg'); /* Replace with your image URL */
    background-size: cover; /* Scales the image to cover the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 5px;
    margin-block: 10px;
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 70%,
      60% 70%,
      60% 100%,
      0 100%,
      0 0
      ); 
      border-radius: 40px;
      /* filter: blur(1px) brightness(80%); */
      overflow: hidden;
      position: relative;
}



.crop {
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}



.crop.square {
  border-radius: 8px;
  aspect-ratio: 1 / 1;
}

.crop.medium {
  width: 150px;
  height: 150px;
}
.crop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-cont {
  position: absolute;
  border-radius: 10px;
  top: 70px;
  right: 120px;
  width: 250px;
  height: 230px;
  padding: 10px;
  background-color: rgba(80, 79, 79, 0.2);
  transition: all 0.5s ease;
}
.img-cont a {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5px;
  color: var(--bgclr);
}
.circle {
  width: 30px;
  height: 30px;
  border: 1px solid var(--bgclr);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.img-cont:hover {
  background-color: rgba(104, 104, 104, 0.4);
  transform: scale(1.01);
}


}
